body {
	margin:0px; 
	padding:0px;
	text-align:center;
	}

/* .ui-header .logo{ */
/* 	height:20px; */
/* 	margin: 10px; */
/* } */

body .ui-page
{ 
     height: 101% !important; 
     -webkit-backface-visibility: hidden;
}
input { outline: none; }
